<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr />

<p class="animated fadeIn">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae mollitia placeat quia amet? Saepe error beatae, vel dolores voluptatum rerum blanditiis ullam fugit architecto earum placeat ipsa facilis odio. Quasi? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Assumenda excepturi numquam laudantium cupiditate repellendus incidunt quo animi eos, culpa quam odit nobis nihil, inventore laboriosam possimus dolores soluta tempore doloribus. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Deleniti unde aspernatur qui voluptatem. Molestiae impedit dolores sit porro, animi laborum accusamus blanditiis doloribus assumenda. Vitae expedita repellendus incidunt. Fugit, ex?</p>